@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: medium;
    font-weight: 500;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
        1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    width: 45%;
    margin: 0px 40px;
}

/* Video de Fondo */
.video-de-fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Título de Vení al Gym */
h1 {
    font-family: "Nunito", sans-serif;
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

/* Títulos de cada formulario */
.data-title {
    border-radius: 5px;
    padding-inline-start: 10px;
    box-sizing: content-box;
    margin: 0px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* Contenedor de todos los formularios menos el de actividades */
.personal-data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 20px white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
}

.personal-data {
    margin: 60px 0px;
    font-size: xx-large;
}

/* Para hacer los inputs más grandes */
input {
    padding: 20px;
}

/* Para hacer el input de nacionalidades más grande */
select {
    width: 100%;
    padding: 20px;
}

/* Para hacer que el textarea quede como columna */
textarea {
    display: flex;
    justify-content: column;
    padding: 20px;
}

/* Datos de Contacto */
#datos-de-contacto-form {
    display: flex;
    justify-content: space-evenly;
}

#datos-de-contacto-form > .personal-data {
    display: flex;
    flex-direction: column;
}

#datos-de-contacto-form input {
    padding: 20px 80px;
}

/* Actividades */
.actividades-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 20px white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 100%;
}

p {
    font-size: 40px;
}

.sedes-label {
    font-size: 35px;
    width: 100%;
}
.sedes-margin {
    font-size: 30px;
    margin: 20px;
}

/* Terminos de Servicio */
.tos-news {
    font-size: 35px;
    margin-top: 20px;
}

/* Botones */

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    color: white;
    border-radius: 5px;
}
