body {
    background-color: #e11364;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}
h1 {
    background-color: #bc105c;
    text-align: center;
    color: #ffffff;
    border-left-style: solid;
    border-right-style: solid;
    padding: 10px;
}

.alert {
    margin: 0;
    padding: 3px;
    margin-bottom: 35px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: 700;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    margin: 0;
    padding: 0;
    top: -2px;
    right: -30em;
    color: inherit;
}
.alert-success {
    margin: 0em;
    padding: 0em;
    color: #3c763d;
    text-align: center;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

h2 {
    color: #ffffff;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
h3 {
    text-align: right;
    color: #9a0037;
    border-bottom: dotted #bc105c;
}

.btn-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.btn-comprar-verde {
    background-color: #2c8f20;
    border: 3px outset rgba(88, 88, 88, 0.83);
    border-radius: 0.8em;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.btn-comprar-rojo {
    background-color: rgb(221, 39, 39);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.9em;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#btn-split {
    margin-left: 0;
}

.btn-comprar:hover {
    background-color: #e82e63;
}
img {
    width: 100%;
}
a {
    color: #ffffff;
    text-decoration: none;
}

main {
    background-color: #bc105c;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}
div {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 13px;
    margin: 25px 15px;
}

footer {
    background-color: #e96093;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
}
