body {
    background-color: #e11364;
    margin: 20px 100px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: #bc105c;
    text-align: center;
    color: #ffffff;
    border-left-style: solid;
    border-right-style: solid;
    padding: 10px;
}

.contenedorimagen-de-fondo {
    display: flex;
    justify-content: flex-end;
    background-image: url("../imagenes/mortal-kombat-11-ultimate-2139241.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 30px 15px 0px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.menu-de-costado {
    background-color: #bc105c;
    opacity: 0.93;
    width: 450px;
    display: block;
    align-items: flex-end;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
.titulos-mk {
    padding: 10px 10px 10px;
    color: #ffff;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* las clases que hice fueron estas */
.compra {
    background-color: black;
    margin: 5px;
    padding: 10px;
    color: #bc105c;
    border-radius: 15px;
    border: 1px solid #e96093;
    display: flex;
    flex-flow: column;
}

#mediosdepago {
    width: 120px;
}

.alineacion-titulo {
    text-align: center;
}
.color-boton {
    background-color: #e96093;
}

/* hasta aca */
#mortalkombat-logo {
    width: 15%;
    margin-right: 10px;
}

.edicion-de-juegos-contenedor {
    padding: 0px 15px;
}

.game-version-item {
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    border-left: 5px solid #ffff;
    padding: 15px;
    margin-bottom: 10px;
}
.game-version-item:hover {
    background-color: rgba(250, 250, 250, 0.3);
}
.imagen-edicion {
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
}

.texto-edicion {
    width: 100%;
    color: #ffff;
    font-weight: bold;
}

.precio {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.btn {
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: bold;
    width: inherit;
    border: 3px solid rgba(250, 250, 250, 0);
    transition: ease-in-out 0.2s;
}

.btn:hover {
    border-color: rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #e96093;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
