/* :root {
    --highlight-color: rgb(89, 64, 231);
    --highlight-text-color: rgb(255, 255, 255);
    --main-text-color: rgb(255, 255, 255);
    --background-color: rgb(27, 26, 26);
} Acá hice una prueba por si andaban, después fijate si cambias los colores a otros más bonitos porque estos son medio brillosos */
