@charset "UTF-8";
/* Está función toma un nombre de color y nos deja usar la variable CSS con el mismo nombre (básicamente nos deja usar variables css en SASS) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,800;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}

html body {
  background-color: var(--background-color);
}

body {
  font-family: "Poppins", sans-serif;
}

.principal-section {
  margin-bottom: 4em;
  font-size: 1.5em;
  margin: 1em auto;
  text-align: center;
  margin-top: 7em;
}
.principal-section h1 {
  font-weight: bold;
}
.principal-section p {
  padding: 1em;
}

.article-container {
  text-align: center;
}

.section {
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  text-align: left;
}
.section--first {
  padding: 2em;
  margin: 1em auto;
}
.section--second {
  margin: 1em auto;
  padding: 1em;
}
.section__image-container {
  margin-top: 1em;
  margin-bottom: 1em;
}
.section__image-container img {
  width: 100%;
}

.toggle-button {
  width: 100px;
  border-radius: 50px;
  background-color: var(--background-color);
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.toggle-button__inner {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--main-text-color);
  margin: 3px;
}

.nav-bar {
  display: flex;
  background-color: var(--highlight-color);
  font-size: 1.5em;
  padding: 0.3em;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  position: fixed;
  font-weight: bold;
}
.nav-bar__nav-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.nav-bar__nav-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-align: center;
  justify-content: space-between;
}
.nav-bar__nav-link:hover {
  text-decoration: none;
  color: var(--highlight-text-color);
}
.nav-bar__nav-item {
  list-style-type: none;
  margin: 0.5em;
}

.hamburger-menu {
  background-color: var(--highlight-color);
  width: 100%;
  height: 7em;
  position: fixed;
  top: 0px;
  display: none;
  z-index: 1;
  /* Menu Hamburguesa que sólo se ve en pantallas chicas */
  /* Just a quick hamburger */
  /* Transform all the slices of hamburger into a crossmark. */
  /* But let's hide the middle one.  */
  /* Oh yeah and the last one should go the other direction */
  /* And let's slide it in from the left */
  /* Make this absolute positioned at the top left of the screen  */
}
.hamburger-menu__toggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  display: none;
  background-color: var(--background-color);
}
.hamburger-menu__toggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  background-color: var(--highlight-color);
}
.hamburger-menu__toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  background-color: var(--highlight-color);
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.hamburger-menu__three-lines-container {
  background-color: var(--highlight-color);
  padding-bottom: 1px;
}
.hamburger-menu__three-lines-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--main-text-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.hamburger-menu span:first-child {
  transform-origin: 0% 0%;
}
.hamburger-menu span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.hamburger-menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--main-text-color);
}
.hamburger-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburger-menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.hamburger-menu input:checked ~ ul {
  transform: none;
}
.hamburger-menu__links {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--highlight-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.hamburger-menu__links li {
  padding: 10px 0;
  font-size: 22px;
  color: var(--main-text-color);
}

@media (max-width: 600px) {
  .hamburger-menu__toggle {
    display: block;
  }

  .nav-bar {
    display: none;
  }

  .principal-section {
    margin-top: 5em;
  }

  .hamburger-menu {
    display: block;
  }
}
.footer {
  background-image: url("../imagenes/black-cat.gif");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin: 0em auto;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  background-color: var(--highlight-color);
}
.footer p {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */