.footer {
    background-image: url("../imagenes/black-cat.gif");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0em auto;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    background-color: $highlight-color;

    p {
        margin-bottom: 0;
    }
}
