.nav-bar {
    background-color: rgb(231, 134, 64);
    font-size: 1.5em;
    padding: 0.3em;
    width: 100%;
    height: 3em;
    justify-content: center;
    align-items: center;

    &__nav-list {
        display: flex;
        width: 100%;
    }
    &__nav-link {
        display: inline-block;
        width: 13em;
        height: 2.2em;
        text-decoration: none;
        color: rgb(0, 0, 0);
        text-align: center;
        justify-content: space-between;
    }

    &__nav-item {
        list-style-type: none;
        margin: 0.5em;
    }
}
