.principal-section {
    margin-bottom: 4em;
    font-size: 1.5em;
    margin: 1em auto;
    text-align: center;
    margin-top: 7em;
    
    h1 {
        font-weight: bold;
    }

    p {
        padding:1em;
    }
}

.article-container {
    text-align: center;
}

.section {
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    padding:0.5em;
    text-align: left;

    &--first {
        padding: 2em;
        margin: 1em auto;
    }
    &--second {
        margin: 1em auto;
        padding: 1em;
        
    }
    &__image-container {
        margin-top: 1em;
        margin-bottom: 1em;
        img {
            width: 100%;
        }
    }
}

.toggle-button {
    width:100px;
    border-radius: 50px;
    background-color:color(background-color);
    height: 50px;
    border: none;
    display:flex;
    align-items: center;
    justify-content: flex-start;


    &__inner {
        height: 40px;
        width:40px;
        border-radius: 100%;
        background-color: color(main-text-color);
        margin:3px;
                
    }

}